:root {
    --transform: translateX(-100px); /* Moves the button 100px to the left */
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to left, #c75d43, #4324c0);
    overflow-x: hidden; /* Prevent horizontal overflow */
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to left, #450e7c, #1f0b6e);
    color: white;
    border: none;
    border-radius: 10px; /* Makes the button round */
    cursor: pointer;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3); /* Adds shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.image-container {
    flex-direction: row; /* Stack images vertically */
    display: flex;
    padding-top: 1px;
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    flex-wrap: nowrap; /* Prevent wrapping */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    position: absolute; /* Changed from absolute to relative */
    z-index: -1;
    overflow: hidden; /* Prevent overflow */
}

.buttons-container{
    display: flex;
    align-items: center;
    margin: 20px;
    
    flex-direction: column;
}


.myImg {
    width: 100%; /* Ensure images fit the full width of the container */
    height: 100%; /* Ensure images fit the full height of the container */
    object-fit: fill; /* Fill the entire area, allowing distortion */
    margin: 5px;
    
}

#result {
    margin-top: 20px;
    font-size: 18px;
}


button:hover , button:focus{
    box-shadow: 0 8px 30px rgb(0, 0, 0); /* Darker shadow on hover */
    transform: translateY(-4px); /* Slight lift on hover */
}

.higherButton:hover , .higherButton:focus{
    box-shadow: 0 8px 30px rgb(4, 105, 6);
}

.lowerButton:hover , .lowerButton:focus{
    box-shadow: 0 8px 30px rgb(91, 9, 9);
}



.move-left {
    transform: var(--transform);
    transition: transform 0.5s ease-in-out; /* Adds a smooth transition */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .image-container {
        flex-direction: column; /* Stack images vertically */
        align-items: center; /* Center images */
        height: auto; /* Adjust height for stacked images */
    }

    .myImg {
        width: 100vw; /* Ensure images fit the full width of the viewport */
        height: auto; /* Ensure images maintain aspect ratio */
        object-fit: fill; /* Fill the entire area, allowing distortion */
    }
}
